*.pyc
*.swp
testing_*
info_files
trash
plots*
stuff/
*.tar

libs/unittests

recipes/*
!recipes/.gitkeep
indata/*
!indata/.gitkeep
!indata/test_data
calib/*
!calib/.gitkeep
!calib/master_calib
outdata/*
!outdata/.gitkeep
