nohup*
*.sh
*.pyc
*.swp
testing_*
info_files
trash
plots*
stuff/
*.tar

unittests
calib/master_calib/old
libs/test_html_plot

recipes/*
!recipes/.gitkeep
indata/*
!indata/.gitkeep
!indata/test_data
calib/*
!calib/.gitkeep
!calib/master_calib
outdata/*
!outdata/.gitkeep

libs/old
